.square {
    height: 30%;
    width: 30%;
    min-width: 200px;
    min-height: 200px;
    background-color: gray;
    color: black;
    font-size: 40px;
    position: static;
}
.square:hover{
    background-color: lightblue;
}
.Board {
    height: 100%;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
}